{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
{% if request.user == card.deck.user %}
<h1>Edit Card</h1>

<div>
  <form action="{% url 'edit_card' deck_pk=deck.pk card_pk=card.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button type="submit">Submit Changes</button>
      <a href="{% url 'view_cards' pk=deck.pk %}">Cancel</a>
    </div>
  </form>
</div>
{% else %}<div class="maincontainer">You are not the owner of this deck.</div>{% endif %}
{% else %}<div class="maincontainer"><p style="text-align: center;">Already have an account?<br><a class="washed-blue" href="/accounts/login/">Login</a></p><hr><p style="text-align: center;">Need to create an account?<br><a class="washed-blue" href="/accounts/register/">Register</a></p></div>
{% endif %}
{% endblock %}
