{% extends "base.html" %}
{% load static %}
{% block javascript %}
<script src={% static 'js/script.js' %} defer></script>
{% endblock javascript %}

{% block content %}
{% if request.user.is_authenticated %}

<div class="maincontainer" id="play-deck">    
    <p>Click your quiz card to reveal the answer!</p>
    <div class="play-deck">
    <div id="exit"><a href="{% url 'home' %}"><i class="fas fa-times-circle" style="color: red;"></i></a></div>
       {% for card in cards %}
        {% if forloop.first %}
            <div class="card" id="card{{ card.pk }}">
                <div class="front">
                    <p>{{ card.question }}</p>
                </div>
                <div class="back">
                    <p>{{ card.question }}</p>
                    <p class="answer">{{ card.answer }}</p>
                    <button type="button" class="wrong_answer" onclick="wrongAnswer()"><i class="far fa-dizzy"></i></button>
                    <button type="button" class="right_answer" onclick="rightAnswer()"><i class="far fa-smile-beam"></i></button>      
                </div>
            </div>
        {% else %}
            <div class="card hidden-card" id="card{{ card.pk }}">
                <div class="front">
                    <p>{{ card.question }}</p>
                </div>
                <div class="back">
                    <p>{{ card.question }}</p>
                    <p class="answer">{{ card.answer }}</p>
                    <button type="button" class="wrong_answer" onclick="wrongAnswer()"><i class="far fa-dizzy"></i></button>
                    <button type="button" class="right_answer" onclick="rightAnswer()"><i class="far fa-smile-beam"></i></button>      
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="counter">
        <p>Are you a Quizard?!</p>
        <div class="count"><h4><i class="fas fa-birthday-cake"></i></h4>
        <p id="right">0</p></div>
        <div class="count"><h4><i class="fas fa-skull-crossbones"></i></h4> 
        <p id="wrong">0</p></div>
    </div>
    <button id="reset" onClick="window.location.reload();">Reset Deck</button>
</div>
</div>
{% else %}<div class="maincontainer"><p>Already have an account?<br><a class="washed-blue" href="/accounts/login/">Login</a></p><hr><p>Need to create an account?<br><a class="washed-blue" href="/accounts/register/">Register</a></p></div>
{% endif %}
{% endblock %}

