{% extends "base.html" %}
{% load static %}
{% block javascript %}
<script src={% static 'js/script.js' %} defer></script>
{% endblock javascript %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="maincontainer" id="play-deck">
    <div id="exit"><a href="{% url 'home' %}"><i class="fas fa-times-circle"></i></a></div>
    {% for card in cards %}
        {% if forloop.first %}
            <div class="card" id="card{{ card.pk }}">
                <div class="front">
                    <p>{{ card.question }}</p>
                </div>
                <div class="back">
                    <p>{{ card.question }}</p>
                    <p class="answer">{{ card.answer }}</p>
                    <button type="button" class="wrong_answer" onclick="wrongAnswer()">X</button>
                    <button type="button" class="right_answer" onclick="rightAnswer()">✔</button>      
                </div>
            </div>
        {% else %}
            <div class="card hidden-card" id="card{{ card.pk }}">
                <div class="front">
                    <p>{{ card.question }}</p>
                </div>
                <div class="back">
                    <p>{{ card.question }}</p>
                    <p class="answer">{{ card.answer }}</p>
                    <button type="button" class="wrong_answer" onclick="wrongAnswer()">X</button>
                    <button type="button" class="right_answer" onclick="rightAnswer()">✔</button>      
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="counter">
        <h4>number of right answers</h4>
        <p id="right">0</p>
        <h4>number of wrong answers</h4> 
        <p id="wrong">0</p>
    </div>
    <button id="reset" onClick="window.location.reload();">Reset Deck</button>
</div>
{% else %}<div>Please register or login.</div>
{% endif %}
{% endblock %}

