{% extends "base.html" %}
{% load static %}
{% block javascript %}
<script src={% static 'js/script.js' %} defer></script>
{% endblock javascript %}

{% block content %}
{% if request.user.is_authenticated %}

<p><a href="#">Some Action</a></p>

<div class="maincontainer">
{% for card in cards %}
  <div class="card" id="card">
      <div class="front">
            <div>{{ card.question }}</div>
     </div>
     <div class="back">
            <div>{{ card.answer }}</div>
    <p>
        <a href="#">Right</a><br>    
        <a class="red" href="#">Wrong</a>
    </p>
    </div>

  </div>
{% endfor %}
</div>
{% else %}<div>Please register or login.</div>
{% endif %}
{% endblock %}


    <!-- <div class="maincontainer">
        <div class="card" id="card">
            <div class="front">
                <h1> My Front Text </h1>
            </div>
            <div class="back">
                <h1> My Back Text </h1>
            </div>
        </div>
    </div> -->


