{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
{% if request.user == deck.user %}
<h2>{{ deck.title }} <a href="{% url 'edit_deck' pk=deck.pk %}"><i class="fas fa-magic"></i></a></h2>
<div class="maincontainer" id="edit-deck">
  {% for card in cards %}
    <div class="edit-card">
      <div class="qa">
        <p>{{ card.question }}</p>
        <p class ="answer">{{ card.answer }}</p>
      </div>
      <div class="options">
        <a href="{% url 'edit_card' deck_pk=deck.pk card_pk=card.pk %}"><i class="fas fa-magic"></i></a>   
        <a class="red" href="{% url 'delete_card' deck_pk=deck.pk card_pk=card.pk %}"><i class="fas fa-trash-alt"></i></a>
      </div>
    </div>
  {% endfor %}
  <div class="add-card"><a href="{% url 'add_card' pk=deck.pk %}"><i class="fas fa-plus" style="padding-top: 10%; font-size: 4em; color: white;"></i></a>
  </div>
</div>
{% else %}<div>You are not the owner of this deck.</div>{% endif %}
{% else %}<div class="maincontainer"><p style="text-align: center;">Already have an account?<br><a class="washed-blue" href="/accounts/login/">Login</a></p><hr><p style="text-align: center;">Need to create an account?<br><a class="washed-blue" href="/accounts/register/">Register</a></p></div>
{% endif %}
{% endblock %}