body {
    background: white
}

#cards-list   {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* margin: 15px;
    margin-bottom: 50px; */
}

.maincontainer {
    display: flex;
    flex-flow: row wrap;
    /* position: absolute; */
    /* width: 500px;
    height: 500px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 2em;
}

.card {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 25px;
    border-width: 20px;
    max-width: 350px;
    text-align: center;
    align-content: center;
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
    cursor: pointer;
}

/* .card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;

} */

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #000;
    text-align: center;
    /* transform: rotateY(180deg) */
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: greenyellow;
    color: black;
    text-align: center;
    transform: rotateY(180deg)
}

.flipcard {
    transform: rotateY(180deg);
}

.hidden-card {
    display: none !important;
}

.deck-container {
    display: flex;
    flex-direction: column;
}

.deck-controls {
    flex-flow: row nowrap;
    justify-content: space-between;
}

.deck {
    position: relative;
    width: 250px;
    height: 150px;
    margin: 25px;
    padding: 20px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(177, 206, 255, 0.673);
    box-shadow: 0 0 10px #63c8f2;
    cursor: pointer;
    border: 2px solid rgba(119, 189, 250, 0.714);
    border-style: groove;
}

.deck:hover{
    background-color: rgba(177, 206, 255, 0.673);
    box-shadow: inset 0 0 20px white;
}